.container {
  width: 300px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px repeat(5, 50px);
}
.resultado {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
  display: flex;
  justify-content: right;
  align-items: center;

  background-color: black;
  color: white;
  font-size: 2em;
}
.borrar {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.numero#cero {
  grid-column: 1/3;
}

.numero {
  background-color: #505050;
  color: white;
}
.operador {
  background-color: #ff9500;
  color: white;
}

.borrar {
  background-color: #d4d4d2;
}
.negativo {
  background-color: #d4d4d2;
}
.porciento {
  background-color: #d4d4d2;
}
button {
  border: 0.5px solid #d4d4d2;
  font-size: larger;
}
