<div class="container">
  <div class="grid-container">
    <div class="resultado">
      {{ operando }}
    </div>
    <button class="borrar" (click)="borrar()">C</button>
    <button class="negativo" (click)="invertir()">+/-</button>
    <button class="porciento">%</button>
    <button class="operador" id="division" (click)="operador('division')">
      /
    </button>
    <button class="numero" id="siete" (click)="add('7')">7</button>
    <button class="numero" id="ocho" (click)="add('8')">8</button>
    <button class="numero" id="nueve" (click)="add('9')">9</button>
    <button
      class="operador"
      id="multiplicacion"
      (click)="operador('multiplicacion')"
    >
      *
    </button>
    <button class="numero" id="cuatro" (click)="add('4')">4</button>
    <button class="numero" id="cinco" (click)="add('5')">5</button>
    <button class="numero" id="seis" (click)="add('6')">6</button>
    <button class="operador" id="resta" (click)="operador('resta')">-</button>
    <button class="numero" id="uno" (click)="add('1')">1</button>
    <button class="numero" id="dos" (click)="add('2')">2</button>
    <button class="numero" id="tres" (click)="add('3')">3</button>
    <button class="operador" id="suma" (click)="operador('suma')">+</button>
    <button class="numero" id="cero" (click)="add('0')">0</button>
    <button class="numero" id="coma" (click)="add('.')">.</button>
    <button class="operador" id="enviar" (click)="calcularResultado()">
      =
    </button>
  </div>
</div>
